ol {
    background-color: yellow;
}
.par {
    color: green ;
}
.impar {
    text-transform: lowercase;
}
h1, h3 {
    color: red;
}
.italico {
    height: 40px;
    border: 1px solid black;
}
li {
    font-size: 20px;
}
li em {
    font-weight: bold;
}
.dev {
    color: blue;
}
.jav {
    background-color: palevioletred;
}
.stack:hover {
    font-weight: bold;
    color: orangered;
    text-decoration: none;
}

